<template>
    <div class="login-container">
        <h1 v-bind:style="{display: 'none'}">로그인 페이지</h1>

        <form class="login-form" @submit.prevent="onSubmit">
            <div class="login-top">
                <h2>로그인</h2>
                <div>
                    <router-link to="/books">도서 목록으로 이동</router-link>
                </div>
            </div>
            <div class="login-input">
                <div>
                    <input
                        v-model="loginForm.email"
                        type="text"
                        name="email"
                        placeholder="이메일을 입력해주세요"
                    />
                </div>
                <div>
                    <input
                        v-model="loginForm.password"
                        type="password"
                        name="password"
                        placeholder="비빌번호를 입력해주세요"
                    />

                </div>
            </div>
            <div class="login-notice">

            </div>
            <div class="login-bottom">
                <div>
                    <button type="submit">확인</button>
                </div>
                <div>
                    <router-link to="/users/join">계정 만들기</router-link>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    import {userService} from '../../service/user.service';
    import {utils} from '../../service/util.service';

    export default {
        name: 'user-login',
        data() {
            return {
                loginForm: {
                    email: '',
                    password: '',
                },
            }
        },
        methods: {
            async onSubmit() {
                const isValid = userService.checkForm(this.loginForm);
                if (isValid == false) {
                    alert('아이디 또는 패스워드가 일치하지 않습니다');
                    return false;
                }
                const response = await userService.login(this.loginForm);
                if (response) {
                    utils.setSession(undefined, response.data);
                    location.href = '/books';
                }
            }
        },
        computed: {

        },
        mounted() {

        }
    }
</script>

<style scoped type="text/css">
    .login-container {
        text-align: center;
        width: 40%;
        margin: 0 auto;
        border: 1px solid #dadce0;
        border-radius: 8px;
        display: block;
        transition: .2s;
        background: white;
    }
    .login-top {
        color: black;
    }
    a {
        color: black;
    }
    .login-input {
        margin-top: 25px;
    }
    .login-input div input {
        outline-style: none;
        border: 1px solid #dadce0;
        border-radius: 10px;
        width: 70%;
        height: 30px;
        margin: 10px 20px;
    }
    .login-input div:nth-child(2) > div {
        text-align: left;
    }
    .login-bottom {
        margin: 40px auto;
    }
    .login-bottom div:nth-child(1) {
        margin-bottom: 10px;
    }
    .login-bottom div > button {
        border-radius: 8px;
        font-weight: bold;
        font-size: 15px;
        width: 80%;
        height: 40px;
    }
</style>