<template>
    <div class="join-container">
        <h1 v-bind:style="{display: 'none'}">가입 페이지</h1>

        <form class="join-form" @submit.prevent="onSubmit">
            <div class="join-top">
                <h2>회원 가입</h2>
                <div>
                    <router-link to="/users/login">로그인 페이지로 이동</router-link>
                </div>
            </div>
            <div class="join-input">
                <div>
                    <input
                            v-model="joinForm.email"
                            type="text"
                            name="email"
                            placeholder="이메일을 입력해주세요"
                    />
                </div>
                <div>
                    <input
                            v-model="joinForm.username"
                            type="text"
                            name="email"
                            placeholder="이름을 입력해주세요"
                    />
                </div>
                <div>
                    <input
                            v-model="joinForm.password"
                            type="password"
                            name="password"
                            placeholder="비빌번호를 입력해주세요"
                    />
                </div>
                <div>
                    <input
                            v-model="joinForm.checkPassword"
                            type="password"
                            name="password"
                            placeholder="비빌번호를 확인해주세요"
                    />
                </div>
            </div>
            <div class="join-notice">

            </div>
            <div class="join-bottom">
                <div>
                    <button type="submit">확인</button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    import {userService} from '../../service/user.service';

    export default {
        name: 'user-join',
        data() {
            return {
                joinForm: {
                    email: '',
                    username: '',
                    password: '',
                    checkPassword: '',
                },
            }
        },
        methods: {
            async onSubmit() {
                const isValid = userService.checkForm(this.joinForm);
                if (isValid == false) {
                    alert('입력값이 올바르지 않습니다');
                    return false;
                }
                const response = await userService.join(this.joinForm);
                if (response) {
                    alert('회원가입이 완료되었습니다\n로그인 페이지로 이동합니다.');
                    await this.$router.push('/users/login');
                }
            }
        },
    }
</script>

<style scoped type="text/css">
    .join-container {
        text-align: center;
        width: 40%;
        margin: 0 auto;
        border: 1px solid #dadce0;
        border-radius: 8px;
        display: block;
        transition: .2s;
        background: white;
    }
    .join-top {
        color: black;
    }
    a {
        color: black;
    }
    .join-input {
        margin-top: 25px;
    }
    .join-input div input {
        outline-style: none;
        border: 1px solid #dadce0;
        border-radius: 10px;
        width: 70%;
        height: 30px;
        margin: 10px 20px;
    }
    .join-input div:nth-child(2) > div {
        text-align: left;
    }
    .join-bottom {
        margin: 40px auto;
    }
    .join-bottom div:nth-child(1) {
        margin-bottom: 10px;
    }
    .join-bottom div > button {
        border-radius: 8px;
        font-weight: bold;
        font-size: 15px;
        width: 80%;
        height: 40px;
    }
</style>