<template>
    <div>
        <the-header></the-header>
        <div class="container">
            <router-view></router-view>
        </div>
        <the-footer></the-footer>
    </div>
</template>

<script>
    import TheHeader from "./components/layout/TheHeader";
    import TheFooter from "./components/layout/TheFooter";
    export default {
        components: {TheFooter, TheHeader}
    }
</script>

<style>
    html {
        position: relative;
        margin: 0;
        /*padding-top: 200px;*/
    }
    body {
        background: #eee;
        margin: 0;
    }
    html, body {
        box-sizing: border-box;
        min-height: 100%;
    }
    .container {
        /*min-height: 100%;*/
        padding-top: 200px;
        padding-bottom: 50px;
    }
</style>