<template>
    <div class="userinfo-container">
        <h1>사용자 정보 페이지</h1>
        <div>
            <label>회원번호</label>
            <span>{{info.id}}</span>
        </div>
        <div>
            <label >이메일</label>
            <span>{{info.email}}</span>
        </div>
        <div>
            <label>이름</label>
            <span>{{info.username}}</span>
        </div>
        <div>
            <div>
                <label for="currentPassword">현재 비밀번호</label>
                <input type="password" id="currentPassword" v-model="cpassword">
            </div>
            <div>
                <div>
                    <label for="newPassword">변경 비밀번호</label>
                    <input type="password" id="newPassword" v-model="npassword">
                </div>
                <div>
                    <label for="newPasswordCheck">변경 비밀번호 확인</label>
                    <input type="password" id="newPasswordCheck" v-model="npasswordcheck">
                </div>
            </div>
        </div>
        <button v-on:click.prevent="validatePassword">확인</button>
    </div>
</template>

<script>
    import {userService} from "../../service/user.service";
    import {utils} from '../../service/util.service';

    export default {
        name: 'UserInfo',
        data() {
            return {
                info: null,
                cpassword: '',
                npassword: '',
                npasswordcheck: '',
            }
        },
        created() {
            this.info = utils.getSession();
        },
        methods: {
            validatePassword: function() {
                if (this.cpassword === '' || this.npassword === '' || this.npasswordcheck === '') {
                    alert('변경하실 비밀번호를 입력해주세요');
                    return;
                }
                if (this.npassword !== this.npasswordcheck) {
                    alert('변경하실 비밀번호가 일치하지 않습니다.');
                    return;
                }
                this.changePassword();

            },
            changePassword: async function() {
                let response = await userService.updatePassword({id: this.info.id, newPassword: this.npasswordcheck, oldPassword: this.cpassword});
                if (response) {
                    alert(response.data);
                    location.href = `/users/${this.info.id}`;
                }
            }
        }
    }
</script>

<style scoped>
    .userinfo-container {
        width: 50%;
        text-align: center;
        margin: 0 auto;
    }
    .userinfo-container div {
        text-align: left;
        margin-bottom: 10px;
    }
    .userinfo-container label {
        display: inline-block;
        position: relative;
        width: 150px;
    }
    .userinfo-container > button {
        width: 150px;
        margin-top: 20px;
    }
</style>