<template>
    <div class="admin-rental-container">
        <h1 v-bind:style="{display: 'none'}">렌탈 목록</h1>
        <div class="search-rental">
            <base-search
                @callback="searchUser"
            >
            </base-search>
        </div>
        <the-rental-select-option
                @callback="setStatus"
                v-bind:status="this.status"
        ></the-rental-select-option>
        <div>
            <table summary="사용자 도서 대여 목록" class="admin-rental-table">
                <caption>도서 대여 목록</caption>
                <colgroup>
                    <col width="5%"/>
                    <col width="auto"/>
                    <col width="15%"/>
                    <col width="15%"/>
                    <col width="30%"/>
                </colgroup>
                <thead>
                <tr>
                    <th>번호</th>
                    <th>신청자(&도서명)</th>
                    <th>신청일</th>
                    <th>반납일</th>
                    <th>대여상태</th>
                </tr>
                </thead>
                <tbody v-if="rentalInfos.length != 0">
                <tr v-for="rental in rentalInfos" :key="rental.id">
                    <td>{{rental.id}}</td>
                    <td v-html="getUserAndTitle(rental)"></td>
                    <td>{{formatDate(rental.requestDate)}}</td>
                    <td>{{formatDate(rental.returnDate)}}</td>
                    <td v-if="rental.rentalStatus === 'WAITING'">
                        <button v-on:click.prevent="performRentalRequest(rental, 'ACCEPT', )">승인</button>
                        <button v-on:click.prevent="performRentalRequest(rental, 'REJECT')">거절</button>
                    </td>
                    <td v-else-if="rental.rentalStatus === 'ACCEPT'">
                        <button v-on:click.prevent="performRentalRequest(rental, 'RETURN')">반납</button>
                    </td>
                    <td v-else>
                        {{rental.rentalStatus}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <base-pagination
                @callback="getRentalList"
                v-bind="params"
        ></base-pagination>
    </div>
</template>

<script>
    import {rentalService} from '../../service/rental.service';
    import BasePagination from "../common/BasePagination";
    import TheRentalSelectOption from "./TheRentalSelectOption";
    import BaseSearch from "../common/BaseSearch";
    export default {
        name: 'admin-rental-list',
        components: {BaseSearch, TheRentalSelectOption, BasePagination},
        data() {
            return {
                rentalInfos: [],
                params: {
                    page: 1,
                    totalCount: 0,
                    totalPage: 0,
                },
                status: null,
                search: null,
            }
        },
        methods: {
            getRentalList: async function({page = 1}) {
                const response = await rentalService.getRentalList({page: page, status: this.status, search: this.search});
                if (response) {
                    const { data : { number, totalElements, totalPages, content } } = response;
                    this.rentalInfos = content;
                    this.params = { page: number + 1, totalCount: totalElements, totalPage: totalPages };
                }
            },
            formatDate(date) {
                if (date === null) return '';
                date = Array.from(date);
                const [year, month, day, , ,] = date;
                return `${year}-${month}-${day}`;
            },
            setStatus(status) {
                this.status = status;
                this.getRentalList({});
            },
            getUserAndTitle: function(data) {
                const username = data.userViewResponseDto.username;
                const booktitle = data.bookViewResponseDto.title;
                return username + '(' + booktitle.slice(0, 10) + '...)';
            },
            performRentalRequest: async function(rental, status) {
                const response = await rentalService.responseRental(rental.id, status);
                if (response) {
                    const { data : { returnDate, rentalStatus }} = response;
                    rental.rentalStatus = rentalStatus;
                    if (rentalStatus === 'RETURN') {
                        rental.returnDate = returnDate;
                    }
                    alert('처리되었습니다');
                }
            },
            searchUser(username) {
                this.search = username;
                this.getRentalList({});
            }
        },
    }
</script>

<style scoped>
    .admin-rental-container {
        width: 80%;
        margin: 0 auto;
    }
    .search-rental {
        margin-bottom: 50px;
    }
    .admin-rental-table {
        width: 100%;
        text-align: center;
        border-collapse: collapse;
    }
    .admin-rental-table caption {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 20px;
    }
    th, td {
        border-bottom: 1px solid black;
        padding: 10px;
    }
</style>