<template>
    <div class="rental-container">
        <h1 v-bind:style="{display: 'none'}">렌탈 목록</h1>
        <the-rental-select-option
            @callback="setStatus"
            v-bind:status="this.status"
        ></the-rental-select-option>
        <div>
            <table summary="사용자 도서 대여 목록" class="rental-table">
                <caption>도서 대여 목록</caption>
                <colgroup>
                    <col width="5%"/>
                    <col width="auto"/>
                    <col width="15%"/>
                    <col width="15%"/>
                    <col width="10%"/>
                    <col width="15%"/>
                </colgroup>
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>신청일</th>
                        <th>반납일</th>
                        <th>대여상태</th>
                        <th>비고</th>
                    </tr>
                </thead>
                <tbody v-if="rentalInfos.length != 0">
                    <tr v-for="rental in rentalInfos" :key="rental.id">
                        <td>{{rental.id}}</td>
                        <td v-html="rental.bookViewResponseDto.title"></td>
                        <td>{{formatDate(rental.requestDate)}}</td>
                        <td>{{formatDate(rental.returnDate)}}</td>
                        <td>{{rental.rentalStatus}}</td>
                        <td>{{rental.message}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
            <base-pagination
                    @callback="getRentalList"
                    v-bind="params"
            ></base-pagination>
    </div>
</template>

<script>
    import {rentalService} from '../../service/rental.service';
    import BasePagination from "../common/BasePagination";
    import TheRentalSelectOption from "./TheRentalSelectOption";
    export default {
        name: 'rental-list',
        components: {TheRentalSelectOption, BasePagination},
        data() {
            return {
                rentalInfos: [],
                params: {
                    page: 1,
                    totalCount: 0,
                    totalPage: 0,
                },
                status: null,
            }
        },
        methods: {
            getRentalList: async function({page = 1}) {
                const response = await rentalService.getRentalList({page: page, status: this.status});
                if (response) {
                    const { data : { number, totalElements, totalPages, content } } = response;
                    this.rentalInfos = content;
                    this.params = { page: number + 1, totalCount: totalElements, totalPage: totalPages };
                }
            },
            formatDate(date) {
                if (date === null) return '';
                date = Array.from(date);
                const [year, month, day, , ,] = date;
                return `${year}-${month}-${day}`;
            },
            setStatus(status) {
                this.status = status;
                this.getRentalList({});
            }
        },
    }
</script>

<style scoped>
    .rental-container {
        width: 80%;
        margin: 0 auto;
    }
    .rental-table {
        width: 100%;
        text-align: center;
        border-collapse: collapse;
    }
    .rental-table caption {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 20px;
    }
    th, td {
        border-bottom: 1px solid black;
        padding: 10px;
    }
</style>