<template>
    <div class="rental-options">
        <select
                v-on:input="callback($event.target.value)">
            <option v-for="(option, index) in options" :value="option" :key="index">{{option}}</option>
        </select>
    </div>
</template>

<script>
    export default {
        name: 'the-rental-select-option',
        props: ['status'],
        data() {
            return {
                options: ['ALL', 'WAITING', 'REJECT' , 'ACCEPT', 'RETURN'],
            }
        },
        methods: {
            callback: function(status) {
                this.$emit('callback', status);
            }
        },
    }
</script>

<style scoped>
    .rental-options {
        position: absolute;
    }
</style>