<template>
    <div class="footer">
        <div class="footer-content">
            <span class="footer-gitlab">
                <a href="https://gitlab.com/whwpfoo"><i class="fab fa-gitlab fa-2x"></i></a>
            </span>
            <span class="footer-blog">
                <a href="https://velog.io/@whwpfoo"><i class="fas fa-home fa-2x"></i></a>
            </span>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'TheFooter',
    }
</script>

<style>
    .footer {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 50px;
        background-color: #767676;
        text-align: center;
    }
    .footer-content {
        margin-top: 10px;
    }
    .footer-content span {
        margin: 0 5px;
    }
</style>