<template>
    <div class="header">
        <h1 v-bind:style="{display: 'none'}">메인헤더</h1>
        <div class="nav">
            <a href="/books">
                <img src="@/assets/img/logo_book.jpg" alt="">
            </a>

            <input type="checkbox" id="menuicon">
            <label for="menuicon">
                <span></span>
                <span></span>
                <span></span>
            </label>
            <div class="sidebar">
                <div class="contents">
                    <div>
                        <div><router-link to="/books">도서 목록</router-link></div>
                        <div v-if="userinfo.id !== '' && userinfo.auth === 0">
                            <router-link :to="{ name: 'rental-user', params: { 'id' : userinfo.id } }">대여 목록</router-link>
                        </div>
                    </div>
                    <div v-if="userinfo.id !== '' && userinfo.auth === 1">
                        <div><router-link to="/admin/books">도서 관리</router-link></div>
                        <div><router-link to="/admin/rentals">대여 관리</router-link></div>
                    </div>
                    <div>
                        <div v-if="userinfo.id == ''"><router-link to="/users/login">로그인</router-link></div>
                        <div v-else>
                            <div><router-link :to="{ name: 'user-info', params: { 'id' : userinfo.id } }">개인정보 수정</router-link></div>
                            <a href="#" v-on:click.prevent="logout">로그아웃</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {utils} from '../../service/util.service';
    import {userService} from '../../service/user.service';
    export default {
        name: 'TheHeader',
        data() {
            return {
                userinfo: {
                    id: '',
                    auth: '',
                }
            }
        },
        methods: {
            logout: function() {
                userService.logout();
            },
            getUserInfo: function() {
                const session = utils.getSession();
                return session ? session : this.userinfo;
            },
        },
        mounted() {
            const { id, auth } = this.getUserInfo();
            this.userinfo = {id, auth};
        }
    }
</script>

<style>
    .header {
        z-index: 200;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: white;
    }
    .nav img {
        width: 120px;
        height: 100px;
    }
    #menuicon {
        display: none;
    }
    #menuicon + label {
        float: right;
        display: inline-block;
        margin: 30px;
        width: 60px;
        height: 50px;
        position: relative;
        cursor: pointer;
    }
    #menuicon + label span {
        display: block;
        position: absolute;
        width: 100%;
        height: 5px;
        border-radius: 30px;
        background: #000;
        transition: all .35s;
    }
    #menuicon + label span:nth-child(1) {
        top: 0;
    }
    #menuicon + label span:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
    }
    #menuicon + label span:nth-child(3) {
        bottom: 0;
    }
    #menuicon:checked + label {
        z-index: 201;
    }
    #menuicon:checked + label span {
        background: #fff;
    }
    #menuicon:checked + label span:nth-child(1) {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
    }
    #menuicon:checked + label span:nth-child(2) {
        opacity: 0;
    }
    #menuicon:checked + label span:nth-child(3) {
        bottom: 50%;
        transform: translateY(50%) rotate(-45deg);
    }
    .sidebar {
        width: 300px;
        height: 100%;
        background: #222;
        position: fixed;
        top: 0;
        right: -300px;
        z-index: 1;
        transition: all .35s;
    }
    #menuicon:checked + label + div {
        right: 0;
    }
    .contents {
        color: white;
        font-weight: bold;
        font-size: 2.0em;
        position: absolute;
        top: 120px;
        opacity: 0.8;
        margin-left: 25px;
        line-height: 2;
    }
    a {
        text-decoration-line: none;
        color: white;
    }
</style>