<template>
    <div class="admin-book-container">
        <h1 v-bind:style="{display: 'none'}">도서 관리</h1>

        <div class="book-search">
            <base-search
                @callback="searchBook"
            ></base-search>
        </div>
        <book-add-modal
                @callback="handleClickButton"
                v-if="visible"
        ></book-add-modal>
        <div class="book-add-btn">
            <button v-on:click.prevent="handleClickButton">도서 등록</button>
        </div>
        <div class="">
            <table summary="도서 관리" class="admin-book-table">
                <caption>등록 도서 목록</caption>
                <colgroup>
                    <col width="5%"/>
                    <col width="auto"/>
                    <col width="15%"/>
                    <col width="15%"/>
                    <col width="10%"/>
                    <col width="15%"/>
                </colgroup>
                <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>저자</th>
                    <th>가격</th>
                    <th>출판사</th>
                    <th>출판년원</th>
                </tr>
                </thead>
                <tbody v-if="bookInfos.length != 0">
                <tr v-for="book in bookInfos" :key="book.id">
                    <td>{{book.id}}</td>
                    <td v-html="book.title"></td>
                    <td>{{book.author}}</td>
                    <td>{{book.price}}</td>
                    <td>{{book.publisher}}</td>
                    <td>{{book.pubdate}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <base-pagination
                @callback="getBookList"
                v-bind="params"
        ></base-pagination>
    </div>
</template>

<script>
    import BasePagination from "../common/BasePagination";
    import {bookService} from "../../service/book.service";
    import BaseSearch from "../common/BaseSearch";
    import BookAddModal from "./BookAddModal";
    export default {
        name: 'admin-book-list',
        components: {BookAddModal, BaseSearch, BasePagination},
        data() {
            return {
                bookInfos: [],
                params: {
                    page: 1,
                    totalCount: 0,
                    totalPage: 0,
                },
                search: '',
                status: null,
                visible: false
            }
        },
        methods: {
            getBookList: async function({page = 1}) {
                const response = await bookService.getBookList({page, search: this.search, status: this.status});
                if (response) {
                    const { data : { number, totalElements, totalPages, content } } = response;
                    this.bookInfos = content;
                    this.params = { page: number + 1, totalCount: totalElements, totalPage: totalPages };
                }
            },
            searchBook(keyword) {
                this.search = keyword;
                this.getBookList({});
            },
            handleClickButton() {
                this.visible = !this.visible;
            }
        },
    }
</script>

<style scoped>
    .book-search {
        margin-bottom: 50px;
    }
    .admin-book-container {
        width: 80%;
        margin: 0 auto;
    }
    .admin-book-table {
        width: 100%;
        text-align: center;
        border-collapse: collapse;
    }
    .admin-book-table caption {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 20px;
    }
    th, td {
        border-bottom: 1px solid black;
        padding: 10px;
    }
    .book-add-btn {
        text-align: right;
    }
</style>