<template>
    <div class="book-modal">
        <div class="book-modal-content">
            <div class="book-add-input">
                <label for="isbnCode">ISBN CODE</label>
                <input
                        v-model="isbn"
                        type="text" id="isbnCode" placeholder="ISBN 코드를 입력해주세요."/>
            </div>
            <div class="book-modal-btn">
                파일등록<input
                        v-on:change="setFile"
                        type="file">
                <button v-on:click.prevent="submit">등록</button>
                <button v-on:click.prevent="callback">닫기</button>
            </div>
            <div
                    v-if="loading"
                    class="progress-loading">
                <img src="@/assets/img/loading.gif" alt="">
            </div>
        </div>
    </div>
</template>

<script>
    import {bookService} from "../../service/book.service";

    export default {
        name: 'BookAddModal',
        data() {
            return {
                isbn: '',
                file: null,
                loading: false
            }
        },
        methods: {
            callback: function() {
                this.$emit('callback');
            },
            setFile: function(event) {
                this.file = event.target.files[0];
                console.log(this.file);
            },
            submit: async function() {
                this.loading = true;

                if (this.file === null) {
                    await this.addBookByIsbnCode();
                } else {
                    await this.addBookByIsbnFile();
                }
                this.isbn = '';
                this.file = null;
                this.callback();
                this.loading = false;
                this.$router.go(0);
            },
            addBookByIsbnCode: async function() {
                if (this.isbn === '') {
                    alert('ISBN 코드를 입력해주세요');
                    return;
                }
                const response = await bookService.addBook(this.isbn);
                if (response) {
                    alert('추가되었습니다');
                }
            },
            addBookByIsbnFile: async function() {
                if (this.file === null) {
                    alert('파일을 업로드해주세요');
                    return;
                }
                const fileForm = new FormData();
                fileForm.append('file', this.file);
                const response = await bookService.addBookByUpload(fileForm);
                if (response) {
                    alert('추가되었습니다');
                }
            }
        },
        created() {

        }
    }
</script>

<style>
    .book-modal {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        margin: 0 auto;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.6);
    }
    .book-modal-content {
        position: fixed;
        left: 0;
        right: 0;
        top: 50%;
        margin: 0 auto;
        background: white;
        border: 1px solid #3a3b3c;
        border-radius: 9px;
        width: 60%;
    }
    .book-add-input label {
        width: 200px;
        margin-right: 20px;
    }
    .book-add-input input {
        width: 70%;
    }
    .book-add-input {
        padding-top: 15px;
        margin-bottom: 30px;
    }
    .book-modal-btn {
        padding-bottom: 15px;
        margin: 0 auto;
    }
    button {
        margin-right: 10px;
    }
</style>