<template>
    <div class="book-view-item">
        <h1 v-bind:style="{ display : 'none' }">도서 상세보기</h1>
        <div class="item-top" >
            <div class="item-top-title" v-html="book.title"></div>
        </div>
        <div class="item-info">
            <div class="item-image">
                <img v-bind:src="getImage" v-bind:alt="book.title">
            </div>
            <div class="item-content">
                <table>
                    <tbody>
                    <tr>
                        <th>대여상태</th>
                        <td><button type="button" v-on:click.prevent="rentalBook">{{isRental}}</button></td>
                    </tr>
                    <tr>
                        <th>지은이</th>
                        <td>{{book.author}}</td>
                    </tr>
                    <tr>
                        <th>출판사</th>
                        <td>{{book.publisher}}</td>
                    </tr>
                    <tr>
                        <th>가격</th>
                        <td>{{book.price}}</td>
                    </tr>
                    <tr>
                        <th>출판년원</th>
                        <td>{{book.pubdate}}</td>
                    </tr>
                    <tr>
                        <th>책 소개</th>
                        <td v-html="book.description"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="back">
                <button v-on:click.prevent="backPage">목록</button>
            </div>
        </div>

    </div>
</template>

<script>
    import {bookService} from '../../service/book.service';
    import {rentalService} from '../../service/rental.service';
    import {utils} from "../../service/util.service";
    export default {
        name: 'book-view-item',
        data() {
            return {
                book: {},
            }
        },
        methods: {
            findBook: async function() {
                const { data } = await bookService.getBook(this.$route.params.id);
                this.book = { ...data };
            },
            rentalBook: async function() {
                const response = await rentalService.requestRental(this.book.id);
                if (response) {
                    alert('대여 신청이 완료되었습니다.\n[대여 목록] 페이지에서 확인 가능합니다');
                    this.book.bookStatus = 'OFF';
                }
            },
            backPage: function() {
                this.$router.go(-1);
            }
        },
        computed: {
            getImage: function() {
                return bookService.setImage(this.book.image);
            },
            isRental: function() {
                return this.book.bookStatus === 'ON' ? '대여가능' : '대여중';
            },
        },
        created() {
            this.findBook();
        },
    }
</script>

<style scoped>
    .item-top {
        position: absolute;
        top: 100px;
        width: 100%;
        background: rgba(58, 59, 60, 0.95);
        height: 250px;
    }
    .item-top-title {
        text-align: center;
        padding-top: calc( 250px / 2 );
        font-size: 1em;
        font-weight: normal;
        color: #fff;
    }
    .item-info {
        display: table;
        width: 70%;
        /*margin-top: 200px;*/
        margin: 200px auto;
    }
    .item-image {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        float: left;
    }
    .item-image img {
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }
    .item-content {
        font-size: 15px;
        float: left;
        margin-top: 25px;
        margin-left: 20px;
    }
    .item-content > table {
        text-align: left;
        font-weight: normal;
        font-size: 20px;
    }
    .item-content > table > tbody > tr {
        line-height: 2;
    }
    .item-content > table > tbody > tr > th {
        width: 100px;
        height: 20px;
    }
    table > tbody > tr > td > button {
        background: black;
        color: white;
        font-size: 15px;
        opacity: 0.7;
    }
    .back {
        text-align: right;
    }
    .back > button {
        width: 80px;
        height: 40px;
        margin-top: 50px;
    }
</style>
