<template>
    <div>
        <base-search
            @callback="searchBook"
        ></base-search>
        <div class="book-container">
            <div class="book-list">
                <book-list-item
                        v-for="book in books"
                        v-bind="book"
                        :key="book.id"
                ></book-list-item>
            </div>
        </div>
        <infinite-loading @infinite="infiniteHandler" spinner="waveDots" ref="infiniteLoading">
            <div slot="no-more" style="color: rgb(102, 102, 102); font-size: 14px; padding: 10px 0px;">목록의 끝입니다 :)</div>
        </infinite-loading>
    </div>
</template>

<script>
    import BaseSearch from "../common/BaseSearch";
    import {bookService} from "../../service/book.service";
    import InfiniteLoading from 'vue-infinite-loading';
    import BookListItem from "./BookListItem";
    export default {
        name: 'book-list',
        components: {BookListItem, BaseSearch, InfiniteLoading},
        data() {
            return {
                books: [],
                params: {
                    page: 1,
                    search: '',
                    pageEnd: false,
                },
            }
        },
        methods: {
            infiniteHandler($state) {
                const { page, search, pageEnd } = this.params;
                this.getBookList({ page, search });
                setTimeout(() => {
                    if (pageEnd) {
                        $state.complete();
                    } else {
                        $state.loaded();
                    }
                }, 1000);
            },
            async getBookList(params) {
                const { data: { content } } = await bookService.getBookList(params);
                if (content.length > 0) {
                    this.books = [...this.books, ...content];
                    this.params.page += 1;
                    if (this.$refs.infiniteLoading) {
                        this.$refs.infiniteLoading.stateChanger.reset();
                    }
                } else {
                    this.params.pageEnd = true;
                }
            },
            searchBook(keyword) {
                this.books = [];
                this.params = { page: 1, pageEnd: false, search: keyword };
                this.getBookList(this.params);
            }
        },
    }
</script>

<style>
    .book-container {
        margin-top: 30px;
    }
    .book-list {
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }
</style>