<template>
    <div class="book-list-item">
        <dl>
            <router-link :to="{ name: 'book-view', params: { 'id' : id } }">
                <dt class="item-info">
                    <img v-bind:src="getImage">
                    <div class="item-status">{{ isRental }}</div>
                </dt>
                <dd class="item-title"
                    v-html="c_title"
                ></dd>
            </router-link>
        </dl>
    </div>
</template>

<script>
import {bookService} from '../../service/book.service';
export default {
    name: 'book-list-item',
    props: [
        'id', 'isbn', 'title', 'author',
        'price', 'publisher', 'pubdate', 'description',
        'bookStatus', 'discount', 'image'
    ],
    data() {
        return {
            c_title: this.title,
            c_image: this.image,
            c_description: this.description,
            isWhite: false,
        }
    },
    methods: {
    },
    computed: {
        getImage: function() {
            return bookService.setImage(this.c_image);
        },
        isRental: function() {
            return this.bookStatus === 'ON' ? '대여가능' : '대여중';
        },
    },
    mounted() {
    }
}
</script>

<style scoped>
    .book-list-item {
        margin: 15px 15px;
        display: inline-block;
        vertical-align: top;
        width: 250px;
    }
    .book-list-item a {
        display: block;
        width: auto;
        text-decoration: none;
    }
    .item-info {
        position: relative;
    }
    .item-info .item-status {
        position: absolute;
        top: 50px;
        bottom: 150%;
        left: 0;
        right: 0;
        width: 120px;
        margin: auto;
        color: #ffffff;
        background: #3a3b3c;
        border-radius: 50%;
        text-align: center;
        line-height: 100px;
        z-index: 101;
        transition: all .35s;
        visibility: hidden;
    }
    .book-list-item a:hover .item-status {
        visibility: revert;
        bottom: 52%;
    }
    .item-info::after {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 110%;
        background: rgba(0, 0, 0, .5);
        z-index: 1;
        opacity: 0;
        transition: all .35s;
    }
    .book-list-item a:hover .item-info::after {
        opacity: 1;
    }
    .book-list-item dl {
        position: relative;
        width: 250px;
        margin: 0;
    }
    .book-list-item dt img {
        height: 330px;
        width: 250px;
    }
    .item-title {
        width: 250px;
        margin: 10px 0 0 0;
        overflow: hidden;
        color: black;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .book-list-item a:hover .item-title {
        font-weight: bold;
    }
</style>
