<template>
    <div class="search">
        <form class="search-form" v-on:submit.prevent="callback">
            <input v-model="search" class="search-input" type="text" placeholder="Search">
        </form>
    </div>
</template>

<script>
    export default {
        name: 'base-search',
        data() {
            return {
                search: null,
            }
        },
        methods: {
            callback() {
                this.$emit('callback', this.search);
            }
        }
    }
</script>

<style>
    .search-form {
        width: 50%;
        margin: 0 auto;
    }
    .search-input {
        background: #eee;
        display: inline-block;
        padding-right: 30px;
        width: 100%;
        outline: none;
        border: none;
        border-bottom: 1px solid black;
        border-bottom-color: #ccc;
        font-size: 2.5em;
        padding-right: 30px;
    }
    .search-input::placeholder {
        color: #ccc;
    }
</style>