<template>
    <div class="paging-area">
        <ul class="pagination">
            <li v-if="page > pageGroup">
                <a href="" aria-label="Previous" v-on:click.prevent="callback(page - 1)">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li v-for="idx in pageGroupArray" :key="idx">
                <a href="#" v-on:click.prevent="callback(idx)">{{idx}}</a>
            </li>
            <li v-if="startPage + pageGroup <= totalPage">
                <a href="" aria-label="Next" v-on:click.prevent="callback(page + 1)">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: 'base-pagination',
        props: [
            'page', 'totalPage', 'totalCount'
        ],
        data() {
            return {
                pageGroup: 10,
                startPage: 0,
                endPage: 0,
                pageGroupArray: [],
                c_totalCount: 0,
            }
        },
        methods: {
            calcPagination: function() {
                this.startPage = ((this.page - 1) / this.pageGroup) * this.pageGroup + 1;
                this.endPage = this.startPage + this.pageGroup - 1;
                if (this.endPage > this.totalPage) {
                    this.endPage = this.totalPage;
                }
                const array = [];
                for (let i = this.startPage; i <= this.endPage; i++) {
                    array.push(i);
                }
                this.pageGroupArray =  [...array];
            },
            callback: function(page) {
                this.$emit('callback', { page: page });
            }
        },
        watch: {
            totalCount(newVal, oldVal) {
                this.calcPagination();
            },
        },
        created: function() {
            this.callback(this.page);
        },
    }
</script>

<style scoped>
    .paging-area {
        position: relative;
        margin: 20px auto;
    }
    .pagination {
        list-style: none;
        text-align: center;
    }
    .pagination > li {
        display: inline-block;
        margin: 0 5px;
    }
    .pagination > li > a {
        color: black;
    }
</style>